<form method='GET' action='/search/searchResult'>
	<div class='row'>
		<div class='form-horizontal'>
			<div class='col-xs-offset-2 col-xs-6'>
				<input type='text' name='search' class='form-control' placeholder='Search for a game to add to your Library'>
			</div>
			<div class='col-xs-2'>
				<button type='submit' class='btn btn-success raised '>Search</button>
			</div>
		</div>
	</div>
</form>