<form method='GET' action='/search/searchResult'>
	<div class='searchBox'>
		<input type='text' name='search' class='form-control searchBar' placeholder='Search for a Game...'>
		<button type='submit' class='btn btn-success raised '>Search</button>
	</div>
</form>