<form method='GET' action='/search/game'>
	<div class='form-group'>
		<label name='search'>Search for a game</label>
		<input type='text' name='search' class='form-control' placeholder='enter a game name'>
	</div>
	<button type='submit' class='btn btn-info'>Search</button>

</form>