<div class='allCommunityBanner'>
	<h1>All Communities</h1>
	<a href='/community/create' class='btn btn-primary gradient'>Create a new Community</a>
</div>

<div class='divider-10'></div>

<% communities.forEach(function(community) { %>
	<div class='singleCommunityBox'>
		<a href='/community/<%= community.id %>'>
			<h1><%= community.name %></h1>
		</a>
		<p><%= community.description %></p>
	</div>
	<div class='divider-15'></div>
<% }); %>
