
<% include ../partials/createCommunity %>

<div class='allCommunityBanner'>
	<h1>All Communities</h1>
	<button class='btn btn-primary gradient createCommunityBtn'>Create a New Community</button>
</div>

<div class='divider-10'></div>

<% communities.forEach(function(community) { %>
	<div class='singleCommunityBox'>
		<a href='/community/<%= community.id %>'>
			<h1><%= community.name %></h1>
		</a>
		<p><%= community.description %></p>
	</div>
	<div class='divider-15'></div>
<% }); %>
