<h1>Account</h1>
<% var gameCoverURL = 'https://images.igdb.com/igdb/image/upload/t_logo_med/'%>

<% user.communities.forEach(function(community) { %>
	<h2><%= community.name %></h2>
	<p><%= community.description %></p>
<% }) %>

<% user.games.forEach(function(game) { %>
	<img src='<%=gameCoverURL + game.cover %>'</p>
	<p><%= game.title %></p>

<% }) %>




