<h1>Home</h1>

<h2>Signup</h2>
<form method='POST' action='/signup'>
	<div class='form-group'>
		<label for='firstName'>First Name: </label>
		<input type='text' name='firstName' class='form-control' placeholder='Type your first name'>
	</div>
	<div class='form-group'>
		<label for='username'>Desired Username:</label>
		<input type='text' name='username' class='form-control' placeholder='Type your desired user name'>
	</div>
	<div class='form-group'>
		<label for='email'>Email:</label>
		<input type='text' name='email' class='form-control' placeholder='Type your email address'>
	</div>
	<div class='form-group'>
		<label for='password'>Desired Password:</label>
		<input type='password' name='password' class='form-control' placeholder='Type your desired password'>
	</div>
	<button type='submit' value='signUp' class='btn btn-success'>Sign up!</button>
</form>


<h2>Login</h2>
<form method='POST' action='/login'>
	<div class='form-group'>
		<label for='username'>User Name: </label>
		<input type='text' name='username' class='form-control' placeholder='Type your user name'>
	</div>
	<div class='form-group'>
		<label for='password'>Password:</label>
		<input type='password' name='password' class='form-control' placeholder='Type your desired password'>
	</div>
	<button type='submit' class='btn btn-success'>Log in</button>
</form>


