<div class='parallaxImg parallax3'></div>
<h2>Login</h2>
<form method='POST' action='/account/login'>
	<div class='form-group'>
		<label for='username'>User Name: </label>
		<input type='text' name='username' class='form-control' placeholder='Type your user name'>
	</div>
	<div class='form-group'>
		<label for='password'>Password:</label>
		<input type='password' name='password' class='form-control' placeholder='Type your desired password'>
	</div>
	<button type='submit' class='btn btn-success gradient'>Log in</button>
</form>

<h2>Signup</h2>
<form method='POST' action='/account/signup'>
	<div class='form-group'>
		<label for='firstName'>First Name: </label>
		<input type='text' name='firstName' class='form-control' placeholder='Type your first name'>
	</div>
	<div class='form-group'>
		<label for='username'>Desired Username:</label>
		<input type='text' name='username' class='form-control' placeholder='Type your desired user name'>
	</div>
	<div class='form-group'>
		<label for='email'>Email:</label>
		<input type='text' name='email' class='form-control' placeholder='Type your email address'>
	</div>
	<div class='form-group'>
		<label for='password'>Desired Password:</label>
		<input type='password' name='password' class='form-control' placeholder='Type your desired password'>
	</div>
	<button type='submit' value='signUp' class='btn btn-success gradient'>Sign up!</button>
</form>



<div class='row'>
	<div class='col-xs-12 siteDescription homeEvenRow'>
		<p>GameShare is a site that allows you to join/invite your friends to create a community to share your video games</p>
		<p>Search for games you own and add them to your library. When you join a community, your games become part of the communities collection where other members can request to borrow them</p>
	</div>
</div>

<div class='parallaxImg parallax4'></div>

<div class='row'>
	<div class='col-xs-12 siteDescription homeOddRow searchExample'>	
		<div>
		<p>Search for games in your library</p>
		</div>
		<img src='/img/searchSample.png' class='siteDescriptionImg'>
		<!-- example search -->
	</div>
</div>

<div class='parallaxImg parallax2'></div>
	
<div>
	<!-- example community -->
</div>
<div class='parallaxImg parallax1'></div>

<div class='parallaxImg2'></div>
	






