<div class='divider-15'></div>
<div class='parallaxImg parallax1'></div>
<div class='divider-15'></div>

<div class='row'>
	<div class='col-xs-12 siteDescription homeEvenRow'>
		<p>GameShare is a site that allows you to join/invite your friends to create a community to share your video games</p>
		<p>Search for games you own and add them to your library. When you join a community, your games become part of the communities collection where other members can request to borrow them</p>
	</div>
</div>

<div class='divider-15'></div>
<div class='parallaxImg parallax4'></div>
<div class='divider-15'></div>

<div class='row'>
	<div class='col-xs-12 siteDescription homeOddRow searchExample'>	
		<div>
		<p>Search for games in your library</p>
		</div>
		<img src='/img/searchSample.png' class='siteDescriptionImg'>
		<!-- example search -->
	</div>
</div>

<div class='divider-15'></div>
<div class='parallaxImg parallax2'></div>
<div class='divider-15'></div>

<div>
	<!-- example community -->
</div>

<div class='divider-15'></div>
<div class='parallaxImg parallax1'></div>
<div class='divider-15'></div>

<div class='divider-15'></div>
<div class='parallaxImg parallax3'></div>
<div class='divider-15'></div>







