<div class='divider-15'></div>
<div class='parallaxImg parallax1'><h1 class='parallaxText'>JOIN</h1></div>
<div class='divider-15'></div>

<div class='homeEvenRow'>
	<div class='siteDescription about'>
		<p>GameShare is a site that allows you to join/invite your friends to create a community to share your video games.</p>
		<p>Search for games you own and add them to your library.</p>
		<p>Join a community and your games are added to the the Community's Library.</p>
	</div>
</div>

<div class='divider-15'></div>
<div class='parallaxImg parallax4'><h1 class='parallaxText'>FIND</h1></div>
<div class='divider-15'></div>

<div class='homeOddRow'>
	<div class='siteDescription exampleImgWithText'>	
		<p class='exampleText'>Search for games to add to your library.</p>
		<img src='/img/searchExample.png' class='siteDescriptionImg'>
	</div>
</div>

<div class='divider-15'></div>
<div class='parallaxImg parallax2'><h1 class='parallaxText'>TRACK</h1></div>
<div class='divider-15'></div>

<div class='homeEvenRow'>
	<div class='siteDescription exampleImgWithText'>
		<p class='exampleText'>Your home page lets you know what games are being borrowed.</p>
		<img src='/img/lendingExample.png' class='siteDescriptionImg'>
	</div>
</div>


<div class='divider-15'></div>
<div class='parallaxImg parallax5'><h1 class='parallaxText'>Trade</h1></div>
<div class='divider-15'></div>

<div class='homeOddRow'>
	<div class='siteDescription exampleImgWithText'>	
		<p class='exampleText'>Borrow, Lend; be part of the Community.</p>
		<img src='/img/communityExample.png' class='siteDescriptionImg'>
	</div>
</div>

<div class='divider-15'></div>
<div class='parallaxImg parallax3'><h1 class='parallaxText'>Play</h1></div>
<div class='divider-15'></div>





