<% var gameCoverURL = 'https://images.igdb.com/igdb/image/upload/t_cover_big/'%>
<div class='divider-15'></div>

<% include partials/searchBar %>
<div class='divider-10'></div>

<% gameData.forEach(function(game) { %>
	<% if (game.cover) { %>
		<div class='divider-10'></div>
		
		<div class='searchResultBackground'>
			<div class='imgContainer'>
				<a href='/search/searchResult/<%= game.id %>'>
					<div class='imgLinkContainer'>
						<img src='<%= gameCoverURL + game.cover.cloudinary_id %>' class='coverImgs'>
					</div>
				</a>
				<div>
					<% if (currentUser) {%>
						<form method='POST' action='/search/add' class='text-left'>
							<input type='hidden' name='gameId' value='<%= game.id %>'>
							<button type='submit' class='btn btn-primary gradient'>Add to Library</button>
						</form>
					<% } %>
				</div>

			</div>

			<div class='searchResultSummary'>
				<% if (game.summary) { %>
					<p><%= game.summary %></p>
				<% } else { %>
					<p>No Game Summary Available</p>
				<% } %>
			</div>	
		</div>

		<div class='divider-10'></div>
	<% } %>
<% }); %>




