.coolBackground {
	height: 350px;
	background-size: cover;
	background-position: center;
}
.gameTitle {
	padding-top: 30px;
	font-size: 70px;
	color: white;
	text-shadow: 5px 5px 5px black;
	margin: 0 25px;
}
.gameCover {
	position: relative;
}
.coverImg {
	box-shadow: 0 0 15px 5px black;
}
.row {
	margin: 5px 0;
}