/*Layout*/
body { 
font-family: 'Russo One', sans-serif;
min-height: 100%;
}
.navBar {
	border-bottom: 3px solid #5DFFCC;
	margin: 5px;
	padding: 10px;
	border-radius: 5px 5px 0 0;	
	background-color: #7F7F85;
	font-family: 'Press Start 2P', cursive;
	text-shadow: 3px 3px 2px black;
}
footer {
	display: flex;
	justify-content: space-around;
	color: white;
	font-size: 8px;
	border-top: 3px solid #5DFFCC;
	margin: 5px;
	padding: 10px;
	border-radius: 0 0 5px 5px;	
	background-color: #7F7F85;

}
footer p {
	font-family: 'Helvetica Neue';
	display: inline;
}
footer a {
	font-family: 'Helvetica Neue';

	color: white;
}
.rightNav {
	font-family: 'Helvetica Neue';
	text-shadow: none;
	display: inline-block;
}
.userLoggedin {
	color: white;
}
.logoutLink {
	color: #262626;
}
.logo1 {
	padding: 0px;
	margin: 0px;
	font-size: 21px;
	color: white;
}
.navLinks {
	color: white;
	font-size: 10px;
}

.divider-10 {
	width: 100%;
	min-height: 1px;
	margin-top: 10px;
	margin-bottom: 10px;
	position: relative;
}
.divider-15 {
	width: 100%;
	min-height: 1px;
	margin-top: 15px;
	margin-bottom: 15px;
	position: relative;
}

a:hover {
	color: #5DFFCC;
	text-decoration: none;
	cursor: pointer;
}
.btn-link:hover {
	color: #5DFFCC;
	text-decoration: none;
	cursor: pointer;
}
/*Home*/
.homeEvenRow {
	background-color: #ECF0F1;
	border-top: 3px solid #50FF65;
	border-bottom: 3px solid #50FF65;
	margin: 0 5px;
	padding: 0 3em;
}
.homeOddRow {
	background-color: #ECF0F1;
	border-top: 3px solid #5DFFCC;
	border-bottom: 3px solid #5DFFCC;
	margin: 0 5px;
	padding: 0 3em;
}
.siteDescription {
	height: 350px;
	display: flex;
}
.about {
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-around;
}
.siteDescription p {
	font-size: 24px;
}
.siteDescriptionImg {
	box-shadow: 0 0 5px 1px black;
	max-height: 90%;
	max-width: 65%;
	margin-right: 1em;
}
.exampleImgWithText {
	justify-content: center;
	align-items: center;

}
.exampleText { 
	padding: 2em;
}
.parallaxImg {
	margin: 0 5px;
	height: 400px;
	display: flex;
	justify-content: center;
	align-items: center;
}
/*Search*/
.searchSpacer {
	height: 75vh;
}
.searchBar {
	width: 45%;
	margin-right: 25px;
}
.searchBox {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.searchResultSummary {
	margin-top:25px;
}
.searchResultBackground {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	background-color: #ECF0F1;
}
/*Account*/
h1 {
	font-size: 30px;
	margin: 0.5em 2em;
}
.parallaxText {
	color: white;
	text-shadow: 0px 0px 50px black;
	font-family: 'Press Start 2P', cursive;
	font-size: 8em;
}
.userGames {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	min-height: 200px;
	border-top: 3px solid #50D6FF;
	border-bottom: 3px solid #50D6FF;
	background-color: #ECF0F1;
	margin: 0 5px;
}
.glyphicon-plus {
	font-size: 35px;
	color: white;
}
.userLoanList {
	display: flex;
	justify-content: space-around;
	margin: 0 5px;
	padding: 10px 0px;
	background-color: #ECF0F1;
	border-top: 3px solid #50D6FF;
	border-bottom: 3px solid #50D6FF;
}
.userLoanedInfoBox {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 10px;
}
.userBorrowedHalf {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
}
.userBorrowText {
	margin-bottom: 5px;
}
.borrowGameContainer {
	display: flex;
	flex-direction: row;
}
.loanList {
	display: flex;
	justify-content: space-around;
	margin: 0 5px;
	padding: 10px 0px;
	background-color: #ECF0F1;
	border-top: 3px solid #50FF65;
	border-bottom: 3px solid #50FF65;
}
.acceptLoanRequest,
.denyLoanRequest {
	display: inline-block;
}
.tinyCover {
	height:75px;
	width: 75px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 5px;
	overflow: hidden; 
}
.loanBtn {
	height: 23px;
	width: 25px;
	display: flex;
	justify-content: center;
}
.addBox {
	margin-bottom: 5px;
	background-color: #7F7F85;
	display: flex;
	align-items: center;
	justify-content: center;
}
.gameAddBox {
	width: 150px;
	height: 150px;
}
.communityAddBox {
	height: 100px;
	width: 100px;
}
.inlineLoan {
	display: flex;
	justify-content: space-between;
	margin: 6px 0;
}
/*Community*/
.communitySetting {
	background-color: #FAFAFB;
	border-top: 3px solid #5DFFCC;
	border-bottom: 3px solid #5DFFCC;
	margin: 0 5px;
	padding: 15px 0;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.shortList {
	min-height: 175px;
	padding: 10px 0;
	margin: 0 5px;
	display: flex;
	justify-content: space-around;
	align-content: : center;
	background-color: #ECF0F1;
	border-top: 3px solid #5DFFCC;
	border-bottom: 3px solid #5DFFCC;
}
.userBox {
	height: 150px;
	width: 150px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.userBox p {
	font-size: 18px;
	margin: 0;
}

.allCommunityBanner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-right: 6px;
}
.singleCommunityBox {
	height: 150px;
	padding: 10px 0;
	margin: 0 5px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #ECF0F1;
	border-top: 3px solid #50FF65;
	border-bottom: 3px solid #50FF65;	
}
.communityName {
	margin-left: 30px;
	font-size: 60px;
}
.communityText {
	width: 50%;
	display: flex;
	justify-content: flex-start;
}
.communityDescription {
	width: 50%;
	display: flex;
	justify-content: flex-start;
}
.singleCommunityBox p {
	color: black;
	text-shadow: 0 0 15px grey;
}
.coolBackground {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-around;
	height: 400px;
	width: 100%;
}
.imgLinkContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 200px;
	width: 152px;
	overflow: hidden;
}
.searchResultSummary {
	padding: 25px;
}
.userImgContainer {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	height: 200px;
	width: 200px;
	margin: 20px 20px 0 20px;
	overflow: hidden;
}
.gameContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 10px;
}
.gameContainer p {
	height: 40px;
	width: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
}
.gameTitle {
	text-align: center;
	padding-top: 50px;
	font-size: 6em;
	color: white;
	text-shadow: 5px 5px 5px black;
	margin: 0 25px;
}
.coverImgs {
	max-height: 100%;
	max-width: 100%;
}
.singleCoverImg {
	align-self: baseline;
	margin-left: 50px;
	position: relative;
	box-shadow: 0 0 15px 5px black;
}
.test {
	height: 100px;
	width: 100px;
	background-color:black;
}
.responsiveCarousel {
	background-color: black;
}


/*modals*/
.modals {
	width: 60%;
	position: fixed;
	left: 25%;
	top: 15%;	
	z-index: 1;
}
#loginSignupModal {
}
#createCommunityModal {
	box-shadow: 0 0 2px black;
	border-radius: 5px;
	border: 1px solid black;
	height:300px;
	background: white;
	padding: 25px;
}
.hideIt {
	visibility: hidden;
}